
<div class="sidebar-header">
  <h3><a href="/">Rate Pics</a></h3>
</div>
   
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      
    <div class="menu-list">
      <ul id="menu-content" class=" components collapse out">
        <% if logged_in? %>
          <li><%= link_to 'Yours', users_path %></li>
          <li><a>Random</a></li>
          <li><a>Upload</a></li>
          <li><%= link_to 'Sign out', signout_path, method: :delete %></li>
             
        <% else %>
          <li><%= link_to 'Sign up', signup_path %></li>
          <li><%= link_to 'Sign in', signin_path %></li>
        <% end %>
      </ul> 
    </div>
      
    
